{% extends "XNovaCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span2 offset4">
                <p>Nom planète : </p>
        </div>
        <div class="span2">
            <p>{{ planetName }}</p>
        </div>
    </div>
{% endblock %}